<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="card panel-primary">
				<div class="card-body">
					<form>
						<div class="form-group">
							<h4>Todas as propostas em análise</h4>
						</div>
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Número da Proposta</th>
									<th scope="col">Nome do Solicitante</th>
									<th scope="col">CPF do Solicitante</th>
									<th scope="col">Situação da Proposta</th>
									<th scope="col">Acões</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let proposta of listaPropostas">
									<th class="text-center">{{ proposta.id }}</th>
									<td>{{ proposta.pessoa.nome }}</td>
									<td [textMask]="{mask: maskUtil.mascaraCpf}">{{ proposta.pessoa.cpf }}</td>
									<td>{{ proposta.situacao.descricao }}</td>
									<td><button [disabled]="!(proposta.situacao.id === 1)" class="btn btn-primary" (click)="analisarProposta(proposta.id)">Analisar</button></td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>