<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="card panel-primary">
				<div class="card-body">
					<form>
						<div class="form-group">
							<h4>Consultar Propostas de Adesão de Cartão</h4>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label>Nome do Solicitante</label>
									<input [(ngModel)]="nome" required [ngModelOptions]="{standalone: true}" class="form-control" type="text">
								</div>
								<div class="col-md-6">
									<label>CPF do Solicitante</label>
									<input [(ngModel)]="cpf" [textMask]="{mask: maskUtil.mascaraCpf}" required [ngModelOptions]="{standalone: true}" class="form-control" type="text">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 text-right">
								<button type="button" class="btn btn-primary" (click)="consultarPropostas()">Consultar</button>
							</div>
						</div>
					</form>
				</div>
				<div class="card-body" *ngIf="listaPropostas.length > 0">
					<form>
						<div class="form-group">
							<h4>Resultado da Consulta</h4>
						</div>
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Número da Proposta</th>
									<th scope="col">Nome do Solicitante</th>
									<th scope="col">CPF do Solicitante</th>
									<th scope="col">Situação da Proposta</th>
									<th scope="col">Acões</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let proposta of listaPropostas">
									<th class="text-center">{{ proposta.id }}</th>
									<td>{{ proposta.pessoa.nome }}</td>
									<td>{{ proposta.pessoa.cpf }}</td>
									<td>{{ proposta.situacao.descricao }}</td>
									<td><button [disabled]="!(proposta.situacao.id === 1)" class="btn btn-primary" (click)="analisarProposta(proposta.id)">Analisar</button></td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>