/* You can add global styles to this file, and also import other style files */

a {
    cursor: pointer;
}

footer {
   background-color: #f8f9fa !important;
   margin-top: 4em
}

nav {
    margin-bottom: 4em;
}