<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="card panel-primary">
				<div class="card-body">
					<form>
						<div class="form-group">
							<h4>Analisar Proposta de Adesão de Cartão</h4>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label>Nome do Solicitante</label>
									<input [(ngModel)]="nome" disabled [ngModelOptions]="{standalone: true}" class="form-control" type="text">
								</div>
								<div class="col-md-6">
									<label>CPF do Solicitante</label>
									<input [(ngModel)]="cpf" [textMask]="{mask: maskUtil.mascaraCpf}" disabled [ngModelOptions]="{standalone: true}" class="form-control" type="text">
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<label>Data de Nascimento</label>
									<input [(ngModel)]="dtNascimento" disabled [ngModelOptions]="{standalone: true}" class="form-control" type="text">
								</div>
								<div class="col-md-6">
									<label>Telefene</label>
									<input [(ngModel)]="telefone" [textMask]="{mask: maskUtil.mascaraTelefone}" disabled [ngModelOptions]="{standalone: true}" class="form-control" type="text">
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<label>Email</label>
									<input [(ngModel)]="email" disabled [ngModelOptions]="{standalone: true}" class="form-control" type="text">
								</div>
								<div class="col-md-6">
									<label>Estado</label>
									<input [(ngModel)]="estado" disabled [ngModelOptions]="{standalone: true}" class="form-control" type="text">
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<label>Cidade</label>
									<input [(ngModel)]="cidade" disabled [ngModelOptions]="{standalone: true}" class="form-control" type="text">
								</div>
								<div class="col-md-6">
									<label>Bairro</label>
									<input [(ngModel)]="bairro" disabled [ngModelOptions]="{standalone: true}" class="form-control" type="text">
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<label>Rua</label>
									<input [(ngModel)]="rua" disabled [ngModelOptions]="{standalone: true}" class="form-control" type="text">
								</div>
								<div class="col-md-6">
									<label>Número</label>
									<input [(ngModel)]="numero" disabled [ngModelOptions]="{standalone: true}" class="form-control" type="text">
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<label>Complemento</label>
									<input [(ngModel)]="complemento" disabled [ngModelOptions]="{standalone: true}" class="form-control" type="text">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 text-center">
								<button type="button" class="btn btn-success" (click)="aprovarProposta()">Aprovar</button>
								<button type="button" class="btn btn-danger" (click)="rejeitarProposta()">Rejeitar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>