<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="verificarUsuarioLogado()">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngIf="verificarPerfil(2)">
        <a class="nav-link" (click)="mudarRota('/proposta/analisar')">Analisar Propostas</a>
      </li>
      <li class="nav-item active" *ngIf="verificarPerfil(3)">
        <a class="nav-link" (click)="mudarRota('/proposta/cadastrar')">Cadastrar Proposta</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" (click)="mudarRota('/proposta/consultar')">Consultar Propostas</a>
      </li>
      <li class="nav-item active">
        <td><button  class="btn btn-danger" (click)="sair()">Sair</button></td>
      </li>
    </ul>
  </div>
</nav>